<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/libs/jquery.js"></script>
    <link rel="stylesheet" href="./static/style/paidContent.css">
    <script src="../static/scripts/paidContent.js"></script>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{request.script_root | tojson | safe}};
    </script>
</head>

<body>
<div id="payPage">
    <div id="payPageContent">
        <img id="closeButton" src="http://123physics.ru/static/style/cross.png"/>
        <div class="standard"><a id='magicparlabel-4523'/>ПРОИЗВЕСТИ ОПЛАТУ ВЫ МОЖЕТЕ</div>

        <div class="standard"><a id='magicparlabel-4524'/>- С ПОМОЩЬЮ ЯНДЕКС.ДЕНЕГ (справки - www.money.yandex.ru) на
            кошелёк 410012902718986
        </div>

        <div class="standard"><a id='magicparlabel-4525'/>комиссия 0,5% при переводе с кошелька на кошелёк</div>

        <div class="standard"><a id='magicparlabel-4526'/>- ПЕРЕВОДОМ НА КАРТУ СБЕРБАНКА 4276 5500 1632 8448</div>

        <div class="standard"><a id='magicparlabel-4527'/>комиссия 1% при переводе с карты Сбербанка в Сбербанк Онлайн
        </div>

        <div class="standard"><a id='magicparlabel-4528'/>стоимость перевода с карт, эмитированных другим банком
            определяется тарифами банка-эмитента
        </div>

        <div class="standard"><a id='magicparlabel-4529'/>- ПЕРЕВОДОМ НА КАРТУ АЛЬФАБАНКА 5486 7425 0818 2424</div>

        <div class="standard"><a id='magicparlabel-4530'/>без комиссии, если платить с дебетовой карты Альфа-банка</div>

        <div class="standard"><a id='magicparlabel-4531'/>комиссии при проведении платежа с карт других банков
            определяются тарифами этих банков
        </div>

        <div class="standard"><a id='magicparlabel-4532'/>РАЗМЕР ПЛАТЕЖА 290 рублей</div>

        <div class="standard"><a id='magicparlabel-4533'/><span style='font-size:large;'>ПРИ ПРОВЕДЕНИИ ПЛАТЕЖА УКАЖИТЕ В КОММЕНТАРИЯХ СВОЙ АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</span>
        </div>

        <div class="standard"><a id='magicparlabel-4534'/>на ваш адрес будут высланы все предлагаемые материалы</div>

        <div class="standard"><a id='magicparlabel-4535'/>После проведения платежа вышлите сообщение об оплате по
            электронной почте на адрес info@123physics.ru Это позволит сделать процесс отправкки материалов более
            оперативным.
        </div>

        <div class="standard"><a id='magicparlabel-4536'/>Материалы высылаются после поступления денег на один из
            указанных счетов.
        </div>
    </div>
</div>
<div id="content">
    <div class="standard"><a id='magicparlabel-136'/><dfn class='lyxnoun'><b><span style='font-size:large;'>Как готовиться и как сдавать ЕГЭ по физике. Стратегия и тактика</span></b></dfn>
    </div>

    <ul class="itemize"><a id='magicparlabel-137'/>
        <li class="itemize_item">Можно ли успеть подготовиться к ЕГЭ за оставшееся время</li>
        <li class="itemize_item">На что следует направить свои усилия</li>
        <li class="itemize_item">Как правильно распределить свое время на экзамене</li>
        <li class="itemize_item">Типичные ошибки учеников на экзаменах прошлых лет</li>
    </ul>
    <div class="standard"><a id='magicparlabel-141'/>Вот вопросы, на которые вы получите ответы в видеолекции &ldquo;Как
        готовиться и как сдавать ЕГЭ по физике. Стратегия и тактика&rdquo;</div>


    <div class="standard"><a id='magicparlabel-4558'/>
        <div class="wrap" style='width:40%;'>
            <div class="plain_layout"><a id='magicparlabel-4816'/><img style='width:100%;'
                                                                       src='http://123physics.ru/static/style/photo.jpg'
                                                                       alt='image: photo.jpg'/>
            </div>


        </div>
    </div>


    <div class="standard"><a id='magicparlabel-149'/>Лекция подготовлена кандидатом технических наук, преподавателем
        Естественно-научного лицея при Санкт-Петербургском Политехническом университете и разработчиком электронного
        ресурса для подготовки по физике <a href="http://www.физикапросто.рф">www.физикапросто.рф</a> Никитиным Федором Николаевичем.
    </div>

    <div class="standard"><a id='magicparlabel-150'/>Любой экзамен, а тем более ЕГЭ - это стресс для каждого ученика
        независимо от его уровня подготовки.
    </div>

    <div class="standard"><a id='magicparlabel-151'/>Поэтому, необходимо заранее выработать тактику своих действий на
        экзамене. &ldquo;Пришёл, увидел, написал&rdquo; может сработать лишь для небольшого количества отлично
        подготовленных и стрессоустойчивых учеников.
    </div>

    <div class="standard"><a id='magicparlabel-152'/>ЕГЭ - это очень длинный экзамен, который требует непривычно долгой
        концентрации внимания. ЕГЭ содержит много сравнительно простых задач, на которых легко потерять баллы &ldquo;по
        невнимательности&rdquo;.
    </div>

    <div class="standard"><a id='magicparlabel-153'/>Все это необходимо учитывать при разработке тактики его сдачи. И,
        разумеется, тактика будет зависеть от уровня подготовки ученика, от того, в каких темах он чувствует себя
        уверенно, а какие оказались плохо освоенными.
    </div>

    <div class="standard"><a id='magicparlabel-154'/>На лекции будет рассказано, как можно быстро определить свой
        уровень подготовки по различным разделам школьного курса, как на основе этого, с учетом ограниченности
        оставшегося до экзамена времени, составить программу повторения материала.
    </div>

    <div class="standard"><a id='magicparlabel-155'/><dfn class='lyxnoun'><b><span style='font-size:large;'>Слушателям будут предоставлены следующие материалы:</span></b></dfn>
    </div>

    <ul class="itemize"><a id='magicparlabel-156'/>
        <li class="itemize_item">Кодификатор элементов содержания и требований по уровню подготовки к ЕГЭ по физике</li>
        <li class="itemize_item">Демонстрационные варианты ЕГЭ по физике к 2015 и 2016 годам</li>
        <li class="itemize_item">Список интернет ресурсов для подготовки к экзамену</li>
        <li class="itemize_item">Список тем для повторения (рационально сгруппированные разделы кодификатора ЕГЭ)</li>
        <li class="itemize_item">Сводный файл со всеми формулами, необходимыми при сдаче ЕГЭ по физике</li>
    </ul>
    <div class="standard"><a id='magicparlabel-161'/>На основе лекции и предоставленных материалов слушатели смогут
        разработать тактику подготовки и сдачи ЕГЭ по физике, учитывающую их текущий уровень подготовки.
    </div>

    <div class="standard"><a id='magicparlabel-162'/><b><span style='font-style:oblique;'><span
            style='font-size:small;'>Пожалуйста, ответьте на несколько вопросов </span></span></b></div>

    <ul style='font-size:small;><a id='magicparlabel-163' />
    <li id="list1"><span style='font-style:oblique;'><span style='font-size:small;'>Я ощущаю свой уровень подготовки к экзамену, как достаточный</span></span>
    </li>
    <form id="form1" >
        <label><input type="radio" name="1" value="Да"> Да</label><br>
        <label><input type="radio" name="1" value="Нет"> Нет</label><br>
    </form>
    <li id="list2"><span style='font-style:oblique;'><span
            style='font-size:small;'>Я готовлюсь к экзамену с помощью репетитора</span></span></li>
    <form id="form2">
        <label><input type="radio" name="2" value="Да" > Да</label><br>
        <label><input type="radio" name="2" value="Нет"> Нет</label><br>
    </form>
    <div id="hidden" style="display: none">
        <li id="list3"><span style='font-style:oblique;'><span style='font-size:small;'>Если бы была возможность использовать репетитора, я бы ей воспользовался</span></span>
        </li>
        <form id="form3">
            <label><input type="radio" name="3" value="Да" > Да</label><br></label>
            <label><input type="radio" name="3" value="Нет"> Нет</label><br>
        </form>
    </div>
    <li id="list4"><span style='font-style:oblique;'><span style='font-size:small;'>Я бы хотел иметь возможность получить экспресс-подготовку перед ЕГЭ</span></span>
    </li>
    <form id="form4">
        <label><input type="radio" name="4" value="На индивидуальных занятиях" > На индивидуальных занятиях</label><br>
        <label><input type="radio" name="4" value="На групповых занятиях"> На групповых занятиях</label><br>
    </form>
    <li id="list5"><span style='font-style:oblique;'><span style='font-size:small;'>На подготовку с репетитором я готов потратить </span></span>
    </li>
    <form id="form5">
        <label><input type="radio" name="5" value="До 15 тыс" > До 15 ты</label><br>
        <label><input type="radio" name="5" value="от 15 до 30 тыс"> от 15 до 30 тыс</label><br>
        <label> <input type="radio" name="5" value=" более 30 тыс"> более 30 тыс</label>
    </form>
    </ul>
    <div>
        <button id="submit">Отправить</button> <span id="confirm"></span>
        <br>
    </div>


    <div class="standard"><a id='magicparlabel-168'/>Конечно, мы не обещаем чуда. Если ваш уровень сейчас соответствует
        50-60 баллам по ЕГЭ, за оставшееся время вы не выйдете на 75-85 баллов. Но грамотная тактика подготовки и сдачи
        экзамена позволит относительно слабому ученику набрать дополнительный десяток баллов за счет сосредоточения
        усилий на нужных темах, и, так же как и сильному, не потерять &ldquo;свои&rdquo; баллы на глупых ошибках.
    </div>

    <div class="standard"><a id='magicparlabel-169'/>Стоимость доступа к предлагаемым материалам - 290 рублей</div>

    <button id="pay">Оплатить</button>
</div>

</body>
</html>